<footer>
    <div [@animateFooter]>
        <ul class="footer-left-bar d-none d-md-block">
            <li>
                <a (click)='analyticsService.sendAnalyticEvent("click_github", "footer", "github")' href="https://github.com/ArsaleneBelhayej" target='_blank'>
                    <i class="fab fa-github"></i>
                </a>
            </li>
            <li>
                <a (click)='analyticsService.sendAnalyticEvent("click_linkedin", "footer", "linkedin")' href="https://www.linkedin.com/in/arselenebelhayej/" target='_blank'>
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </li>
  <li>
  <a
    (click)="analyticsService.sendAnalyticEvent('click_bento', 'footer', 'bento')"
    href="https://bento.me/arselene"
    target="_blank"
    rel="noopener"
    aria-label="Bento profile"
    title="Bento"
    class="icon-link"
  >
    <img src="assets/images/bento.svg" alt="Bento" class="icon-svg" />
  </a>
</li>
        </ul>
        <div class="footer-right-bar d-none d-md-block">
            <a>Arselene Belhayej Portfolio</a>
        </div>
    </div>

    <div class="footer-credits text-center" >
        <a (click)='analyticsService.sendAnalyticEvent("click_github_portfolio_andresjose", "footer", "click")' href="https://www.linkedin.com/in/arselenebelhayej/" target="_blank" rel="nofollow noopener noreferrer">
            <div>© 2025 Copyright | Arselene Belhayej | All rights reserved.</div>
        </a>

    </div>

</footer>
