<section class="section" id="contact">
  <div class="container contact">
    <div class="section-box">
      <div class="mb-4" data-aos="fade-up" data-aos-duration="1000">
        <h3 class="contact-pre-title big-subtitle">
          06. {{ "Contact.Pretitle" | translate }}
        </h3>
        <h4 class="e-font contact-title big-title">
          {{ "Contact.Title" | translate }}
        </h4>
      </div>
      <p data-aos="fade-up" data-aos-duration="1000">
        {{ "Contact.Content" | translate }}
      </p>
      <div class="contact-icons" data-aos="fade-up" data-aos-duration="1000">
        <a
          href="https://www.linkedin.com/in/arselenebelhayej/"
          target="_blank"
          title="LinkedIn"
          aria-label="LinkedIn"
          class="icon-wrapper">
          <i class="fab fa-linkedin"></i>
        </a>
        <a
          href="https://github.com/ArsaleneBelhayej"
          target="_blank"
          title="GitHub"
          aria-label="GitHub"
          class="icon-wrapper">
          <i class="fab fa-github"></i>
        </a>
        <a
          href="mailto:arselenebelhayej1@gmail.com"
          target="_blank"
          title="Email"
          aria-label="Email"
          class="icon-wrapper">
          <i class="fas fa-envelope"></i>
        </a>
      </div>
    </div>
  </div>
</section>
